html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

.body_inner {
    min-height: 100%;
    margin-bottom: -121px;
}

#menubar {
    background-color: #333;
    height: 80px;
}

.menu a {
    color:#AAA;
    text-decoration: none;
    padding: 8px 40px;
    line-height: 14px;
    text-align: center;
    position: relative;
    top: 5px;
}

.active a, .menu a:hover {
    color:#FFF;
    text-decoration: none;
}

#menubar {
    padding: 29px 0;
    height: 32px;
}

#main_menu {
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.menu {
    height: 32px;
}

.cb {
    clear: both;
}

.footer {
    text-align: center;
    font-family: NanumGothicWeb;

    background-color: #333;
    color: #BFBFBF;
    padding: 20px 0px 10px;
    border-top: 1px solid #ddd;
    vertical-align: baseline;
}

#sizeholder {
    height: 121px;
    display:block;
}