#mymap {
    height: 400px;
    border: solid 1px #CCC;
    margin-bottom: 30px;
}

#contact {
    font-family: NanumGothicWeb;
    padding-top: 20px;
}

#contact address {
    font-size: 14px;
    vertical-align: middle;
}

#contact h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
