@charset "utf-8";
@font-face{
  font-family: 'NanumGothicWeb';
  font-style: normal;
  font-weight: normal;
  src: url('/static/font/NanumGothic.eot');
  src: local('☺'), url('/static/font/NanumGothic.woff') format('woff'), url('/static/font/NanumGothic.ttf') format('truetype');
}

@font-face{
  font-family: 'NanumGothicWeb';
  font-style: normal;
  font-weight: bold;
  src: url('/static/font/NanumGothicBold.eot');
  src: local('☺'), url('/static/font/NanumGothicBold.woff') format('woff'), url('/static/font/NanumGothicBold.ttf') format('truetype');
}
