.feature {
    padding: 50px 10px;
    font-family: NanumGothicWeb;
}

.feature h2 {
    font-weight: bold;
    font-size: 24px;
    padding: 5px 8px;
}

.feature p {
    font-size: 16px;
    line-height: 180%;
}

.feature_desc > p {
    border-left: solid 2px #6d6e70;
    padding-left: 10px;
}

#product_main {
    height: 200px;
    padding: 50px 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    background-image: url(../img/project00.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center top;
}

#product_main h1 {
    color: #EEE;
    font-size: 60px;
}

#product_main h1 > span {
    color: #43c3d9
}

#product_main h2 {
    text-align: right;
    margin-top: 15px;
    color: #EEE;
}

.feature > img {
    padding: 0px 40px;
    display: inline;
}

#feature1 {
    padding-top: 70px;
}

#feature2 {
    background-color: #FFF;
}

.feature h2 {
    background-color: #6d6e70;
    color: white;
    display: inline-block;
    margin-bottom: 25px;
    
}

#feature1 .feature_desc {
    padding 

}

.feature_desc {
    display:inline;
    padding-top: 40px;
    padding-bottom: 40px;
}

.feature {
    border-bottom: 1px solid #ddd;
}


.dash {
    width: 138px;
    height: 96px;
    background: transparent url('../img/dash.png') 0 0 no-repeat;
    float: left;
    margin-left: 2px;
    padding-left: 13px;
    position: relative;
    color: #333;
}

.weeks_dash {
    background: transparent url('../img/dark_weeks_dash.png') 0 0 no-repeat;
}

.days_dash {
    background: transparent url('../img/dark_days_dash.png') 0 0 no-repeat;
}

.hours_dash {
    clear: left;
    background: transparent url('../img/dark_hours_dash.png') 0 0 no-repeat;
}

.minutes_dash {
    background: transparent url('../img/dark_minutes_dash.png') 0 0 no-repeat;
}

.seconds_dash {
    background: transparent url('../img/dark_seconds_dash.png') 0 0 no-repeat;
}

.dash .digit {
    font: bold 52pt Verdana;
    font-weight: bold;
    float: left;
    width: 59px;
    text-align: center;
    position: relative;
}

.dash_title {
    display: none;
}

#countdown_dashboard {
    display:inline-block
}

#feature1 h2 > span {
    color: #43c3d9;
}

#feature2 h2 > span {
    color: rgb(255,144,0);
}

#feature3 h2 > span {
    color: rgb(0,238,186);
}

